@font-face {
    font-family: 'SST';
    src: url('SST-Medium.woff2') format('woff2'),
        url('SST-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SST';
    src: url('SST-Bold.woff2') format('woff2'),
        url('SST-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SST';
    src: url('SST-LightItalic.woff2') format('woff2'),
        url('SST-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SST';
    src: url('SST-HeavyItalic.woff2') format('woff2'),
        url('SST-HeavyItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SST Condensed';
    src: url('SST-CondensedBd.woff2') format('woff2'),
        url('SST-CondensedBd.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SST';
    src: url('SST-Heavy.woff2') format('woff2'),
        url('SST-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SST Condensed';
    src: url('SST-CondensedMd.woff2') format('woff2'),
        url('SST-CondensedMd.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SST';
    src: url('SST-Light.woff2') format('woff2'),
        url('SST-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SST';
    src: url('SST-BoldItalic.woff2') format('woff2'),
        url('SST-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SST';
    src: url('SST-Roman.woff2') format('woff2'),
        url('SST-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SST Condensed';
    src: url('SST-Condensed.woff2') format('woff2'),
        url('SST-Condensed.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SST';
    src: url('SST-Italic.woff2') format('woff2'),
        url('SST-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SST';
    src: url('SST-MediumItalic.woff2') format('woff2'),
        url('SST-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

